/* Responsive Design Section */

/* TO DO:
    Fix the backgrounds 
    Fix FAQ list and make the dropdown effect with or without animation effect
    Make footer responsive in all device resolutions
 */

/* Iphone XR */
@media only screen and (max-width: 414px ) {

        /* Background */
    #background-1{
        padding-right: 20px;
        padding-bottom: 50px;
        margin-top: 70px;
    } 
    
    #background-2{
        padding-right: 0;
        width: 100%;
    } 

    #background-3{
        padding-right: 0;
        width: 100%;
    } 

    #background-4{
        padding-right: 0;
        width: 100%;
    } 

    #faq-Background{
        width: 100%;
    }

    /* Seperators */
    #seperator{
        padding-right: 200px;
    }

     /* Images */
    #netflix-Image{
        height: auto;
        width: 45%;
        margin-left: 5px;
        margin-top: 5px;
    }

    #img-Popcorn{
    margin-left: 0;
    margin-top:0;
    z-index:1000;
   
    }

    #img-Enjoy {
        margin-right: 0;
        width:50%;
        height:50%;
        position: bottom;
        float:none;
    }

    .img-Watch {
        width:50%;
        height:50%;
        margin-right: 0;
    }
    
    .img-Create {
        width:50%;
        height:50%;
    }
    
    .img-Download {
        width:50%;
        height:50%;
    }

    #sign-In , #language{
        margin: 5px;
    }

    #email-input{
        width: 75%;
        padding: 12px;
    }

    #start-button{
        width: 75%;
        padding: 12px;
        margin-top: 15px;
    }

    /* Front */
    #front-Title-1{
        width :100%;
        font-size: 2.1rem;
        margin-top: 30px;
    } 
    
    #front-Title-2{
        width :100%;
        font-size: 1.3rem;
    }

    #front-Title-3{
        width :100%;
        font-size: 1.4rem;
    }

     /* Popcorn Image Section */
     #middle-Text-1{
        font-size: 1rem;
        margin-left: 0;
        margin-right: 0;
        z-index:500;
     }

     #middle-Text-2{
        font-size: 1rem;
        margin-right: 0;
        margin-left: 0;
        z-index:500;
     }

     #middle-Text-3{
        font-size: 1rem;
        margin-right: 0;
        margin-left: 0;
        z-index:500;    
     }

    /* Enjoy Section*/
     #enjoy-Title{
        font-size: 2rem;
        margin-left: 0;
     }

     #enjoy-Text-1{
        font-size: 2rem;
        margin-left: 0;
        margin-left: 0;
     }
     #enjoy-Text-2{
        font-size: 2rem;
        margin-left: 0;
        margin-left: 0;
     }


    /* Watch Section */
     #watch-Title{
        font-size: 2rem;
        margin-left: 0;
        margin-right: 0;
     }
     #watch-Text-1{
        font-size: 2rem;
        margin-left: 0;
        margin-left: 0;
     }
     #watch-Text-2{
        font-size: 2rem;
        margin-left: 0;
        margin-left: 0;
     }

    #faq-Background{
        width :380px;
    }
    
}


@media only screen and (max-width: 599px ) {

    #background {
        padding-left: 250px;
        padding-right: 250px;
    }

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1800px) {

}

