body { 
    background-color: rgba(0,0,0,0.5);
    background-image: url("images/body-background.jpg");   
    background-blend-mode: darken;
}

header {
    width: 100%;
}

.small-vector {
    height: auto;
    width: 200px;
    margin: 20px;
    filter: brightness(120%);
}

.body-text {
    text-align: center;
    color: white;
}

.email-input,.start-button {
    width: 100%;
    color: white;
    line-height: 1.5rem;
    padding: 1.5rem 1rem 0.5rem;
    max-width: 400px;
    border-radius: 5px;
}

.email-input {
    background-color:black;
    opacity: 0.5;
    border: 1px solid rgb(202, 200, 200);
}

.start-button {
    max-width: 150px;
    color: rgb(255,255,255);
    background-color: rgb(229,9,20);
    text-align: center;
    border: none;
}