body {
    background-image: url("images/body-background.jpg");
}

header {
    width: 100%;
}

svg {
    margin: 15px;
    width: 23%;
}

.svg-nfLogo {
    fill: #e50914;
    display: inline-block;
    line-height: 90px;
    text-decoration: none;
    vertical-align: middle;
} 