body { 
    background-color: rgba(0,0,0,0.5);
    background-image: url("images/body-background.jpg");   
    background-blend-mode: darken;
    margin: auto 0;
    padding: auto 0;
}

header {
    width: 100%;
}

.head-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vector-wrapper {
   /* border: white solid 2px; */
}

.sign-in-wrapper {
    text-align: right;
}

.sign-in {
    margin: 25px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    background-color: red;
    border: none;
}

.small-vector {
    height: auto;
    width: 200px;
    margin: 20px;
    filter: brightness(120%);
}

.body-text {
    text-align: center;
    color: white;
}

.email-input,.start-button {
    width: 100%;
    color: white;
    line-height: 1.5rem;
    padding: 15px;
    max-width: 400px;
    border-radius: 5px;
    
}

.email-input {
    background-color:black;
    opacity: 0.5;
    border: 1px solid rgb(202, 200, 200);
}

.start-button {
    max-width: 150px;
    color: rgb(255,255,255);
    background-color: rgb(229,9,20);
    text-align: center;
    border: none;
}

.background-1{
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-image: linear-gradient(rgb(11, 11, 109),rgb(105, 16, 16));
    text-align: center;
    color: white;
}


